.card {
    margin: 0 auto;
    margin-top: 80px;
    height: 500px;

    // .form {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    // }
    :global(.ant-card-body) {
        height: 100%;

    }

    :global(.ant-form) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        margin-left: -60px;
    }
}